<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<servlet-class>com.jah.AddServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>pqr</servlet-name>
  	<servlet-class>com.jah.SqServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>pqr</servlet-name>
  	<url-pattern>/sq</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>add2s</servlet-name>
  	<servlet-class>com.jah.AddServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>add2s</servlet-name>
  	<url-pattern>/add2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>zxy</servlet-name>
  	<servlet-class>com.jah.SqServlet2</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>zxy</servlet-name>
  	<url-pattern>/sq2</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>infos</servlet-name>
  	<servlet-class>com.jah.MyInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>infos</servlet-name>
  	<url-pattern>/info</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
  	<param-name>name</param-name>
  	<param-value>Jahangir Ismail</param-value>
  </context-param>
   <context-param>
  	<param-name>email</param-name>
  	<param-value>hinurali@hotmail.com</param-value>
  </context-param>
</web-app>